In [20]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import logit, probit, poisson, ols

In [4]:
import pandas as pd

df = pd.read_csv('mydata.csv')

In [5]:
df.head()

,Unnamed: 0,obs,sector,hdd,choice,conv_year,house_type,constr_year,nb_rooms,nb_pers,...,cost_inc9,avail.1,avail.2,avail.3,avail.4,avail.5,avail.6,avail.7,avail.8,avail.9
0,1,1,4,4.359,1,6,2,2,13,4,...,5.128263,1,1,1,1,1,1,1,1,1
1,2,2,4,4.359,1,5,2,3,8,4,...,1.862621,1,1,1,1,1,1,1,1,1
2,3,3,4,4.359,1,8,2,5,8,4,...,5.128263,1,1,1,1,1,1,1,1,1
3,4,4,4,4.359,1,5,2,1,8,4,...,5.079876,1,1,1,1,1,1,1,1,1
4,5,5,4,4.359,1,5,2,8,8,5,...,5.079876,1,1,1,1,1,1,1,1,1

In [29]:
from biogeme import *
#from headers import *
import biogeme.database as db
database = db.Databas
from biogeme.expressions import Beta, DefineVariable, bioDraws, PanelLikelihoodTrajectory, MonteCarlo, log
#from logit import *e("data",df)
globals().update(database.variables)
#from loglikelihood import *

In [30]:
ASC1 = Beta( 'ASC1', 0.0, -10000, 10000, 1)
#ASC2 = Beta( ’ASC2’, 0.0, -10000, 10000, 0, ’Cte for alt. 2’)